[Desktop Entry]
Name=VeneraNext
GenericName=VeneraNext
Comment=VeneraNext
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;
Icon=venera-next
